.gitignore
.eslintrc
.eslintignore
.prettierrc.json
.node-version

**/*.ts
**/*.map
**/tsconfig.json
**/tsconfig.base.json

.vscode/**
.github/**
scripts/**

client/node_modules/**
!client/node_modules/vscode-jsonrpc/**
!client/node_modules/vscode-languageclient/**
!client/node_modules/vscode-languageserver-protocol/**
!client/node_modules/vscode-languageserver-types/**
!client/node_modules/brace-expansion/**
!client/node_modules/balanced-match/**
!client/node_modules/lru-cache/**
!client/node_modules/yallist/**
!client/node_modules/semver/**
