.babelrc
.babelrc.js
.DS_Store
.gitignore
.yarn.lock

*.log
*.tsbuildinfo
*.tgz

README.md
rollup.config.js
tsconfig.json
yarn-error.log
*~

/.git
/.github
/.gitattributes

/node_modules
/src
/test
/coverage
/assets
